@tailwind base;
@tailwind components;
@tailwind utilities;

*::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .custom-scrollbar::-webkit-scrollbar {
    width: 18px; 
    margin-top: -2px;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f1f1f1; 
    border-radius: 7px;
  }


@layer components {


    .main-div{
        @apply min-h-max bg-[#F6F8FA] flex items-center flex-col;
    }

    .header{
        @apply text-center text-2xl md:text-4xl font-mono mt-4;
    }

    .input-div{
        @apply mt-8 flex flex-col;
    }

    .submit-btn{
        @apply w-24 mx-auto px-2 py-1 mt-[0.35rem] bg-[#1F2328] text-white font-semibold rounded-lg shadow-md hover:bg-gray-800 focus:outline-none;
    }

    .input{
        @apply w-80 text-center py-2 text-black border border-gray-900 bg-[#F6F8FA] rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-black focus:border-transparent;
    }




}